/**********************NAVBAR*********************/

#navbar {
    background-color: rgb(59, 199, 129);
    height: 70px;
    width: 100%;
    position: fixed;
    font-family: Quicksand;
    box-shadow: 0px 0px 20px black;
    transition: 0.2s;
}

#navbar:hover {
    transition: 0.3s;
    transform: scale(1.02);
}

.nav-a {
    text-decoration: none;
    color: black;
    float: right;
    font-size: 20px;
    margin-top: 5px;
    padding-right: 40px;
    transition: 0.2s;
}

.nav-a:hover {
    transform: scale(1.1);
    transition: 0.2s;
    color: white;
}

.nav-logo {
    float: left;
    font-size: 50px;
    color: white;
    padding-left: 30px;
    transition: 0.2s;
}

.nav-logo:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

/********************START-PAGE*******************/
.start-page {
    width: 1920px;
    height: 800px;
    background-color: rgb(32, 134, 83);
    object-fit: cover;
    object-position: top right;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0px 0px 30px black;
}

.start-page-imgs {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
}

.start-page-img-frau {
    width: 600px;
    height: 600px;
    object-fit: cover;
    margin-right: 100px;
    transition: 0.2s;
    border-radius: 2%;
    opacity: 0.8;
    box-shadow: 0px 0px 5px black;
}

.start-page-img-mann {
    width: 600px;
    height: 600px;
    object-fit: cover;
    object-position: -190px;
    margin-left: 100px;
    transition: 0.2s;
    border-radius: 2%;
    opacity: 0.8;
    box-shadow: 0px 0px 5px black;

}

.start-page-img-hover:hover {
    transform: scale(1.05);
    transition: 0.2s;
    opacity: 1;
    box-shadow: 0px 0px 10px black;
}

/********************SECOND-PAGE*******************/

.second-page {
    font-family: Quicksand;
    justify-content: center;
}

.second-page-title {
    text-align: center;
    padding-top: 20px;
}

.second-page-text {
    width: 900px;
    font-size: 22px;
    text-align: left;
    margin-left: 500px;
}

/********************THIRD-PAGE*******************/

.third-page {
    color: white;
    font-family: Quicksand;
    width: 1920px;
    height: 400px;
    background-color: rgb(32, 134, 83);
    margin-top: 100px;
    box-shadow: 0px 0px 30px black;
}

.third-page-title {
    box-sizing:;
    text-align: center;
    padding-top: 20px;
}


/********************HTML-ELEMENTE*******************/

body {
    margin: 0px;
    height: 2000px;
    background-color: rgb(250, 250, 250);
}

p {
    margin: 0px;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 40px;
}